<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee Form</title>

</head>

<body>
	<th:bolck th:insert="header.html"></th:bolck>
	<div class="container-fluid m-0 p-0">
		<div class="card ">
			<div class="card-header bg-primary text-center ">
				<h2 class="fw-bold">Add employee Form</h2>
			</div>
			<div class="card-body "> 
				
				<form action="/employee" method="post">
				
				<div class="row py-2">
					<div class="col-4">
						First Name
					</div>
					<div class="col-6">
						<input type="text" name="fname" class="form-control" required>
					</div>
				</div>
				<div class="row py-2">
					<div class="col-4">
						last Name
					</div>
					<div class="col-6">
						<input type="text" name="lname" class="form-control">
					</div>
				</div>
				<div class="row py-2">
					<div class="col-4">
						Genter
					</div>
					<div class="col-6">
						<input type="radio" name="gender" value="male">Male
						<input type="radio" name="gender" value="female">FeMale
					</div>
				</div>
						<div class="row py-2">
					<div class="col-4">
						Phone
					</div>
					<div class="col-6">
						<input type="text" name="phone" class="form-control">
					</div>
				</div>
							<div class="row py-2">
					<div class="col-4">
						Email
					</div>
					<div class="col-6">
						<input type="email" name="email" class="form-control">
					</div>
				</div>
							
				
						<div class="row py-2">
					<div class="col-4">
						DOB
					</div>
					<div class="col-6">
						<input type="date" name="dob" class="form-control">
					</div>
				</div>
				
						<div class="row py-2">
					<div class="col-4">
						Joining Date
					</div>
					<div class="col-6">
						<input type="date" name="joinDate" class="form-control">
					</div>
				</div>
						<div class="row py-2">
					<div class="col-4">
						Age
					</div>
					<div class="col-6">
						<input type="number" name="age" class="form-control">
					</div>
				</div>
					
						<div class="row py-2">
					<div class="col-4">
					Company
					</div>
					<div class="col-6">
						<input type="text" name="companyName" class="form-control">
					</div>
				</div>
						<div class="row py-2">
					<div class="col-4">
						Department
					</div>
					<div class="col-6">
					<select name="department" class="form-control">
						<option value="">
							Select
						</option>
						<option th:each="d:${dList}" th:value="${d.id}" > [[${d.dept_name}]] </option>
						 
					</select>
					</div>
				</div>
				
				<div class="row py-2">
					<div class="col-4">
				Post
					</div>
					<div class="col-6">
						<input type="text" name="post" class="form-control">
					</div>
				</div>
				<div class="row py-2">
					<div class="col-4">
				Salery
					</div>
					<div class="col-6">
						<input type="number" name="salery" class="form-control">
					</div>
				</div>
				
				<div class="row py-2">
					<div class="col-4">
				Country
					</div>
					<div class="col-6">
						<input type="text" name="address.country" class="form-control">
					</div>
				</div>
				
				<div class="row py-2">
					<div class="col-4">
					City
					</div>
					<div class="col-6">
						<input type="text" name="address.city" class="form-control">
					</div>
				</div>
				
				<div class="row py-2">
					<div class="col-4">
					State
					</div>
					<div class="col-6">
						<select name="address.state" class="form-control">
						<option value="">
							Select
						</option>
						<option value="state-1">
						State-1
						</option>
							<option value="state-2">
						State-2
						</option>
							<option value="state-3">
						State-3
						</option>
							<option value="state-4">
						State-4
						</option>
							<option value="state-5">
						State-5
						</option>
							<option value="state-6">
						State-6
						</option>
							<option value="state-7">
						State-7
						</option>
					</select>
					</div>
				</div>
				<div class="row py-2">
					<div class="col-4">
				ZipCode
					</div>
					<div class="col-6">
						<input type="text" name="address.zipcode" class="form-control" required>
					</div>
				</div>
				
				<div class="row py-2">
					<div class="col-4">
					Projects
					</div>
					<div class="col-6">
						<input type="checkbox" checked name="projects"  value="projects_1"> Project-1 (php)
							<input type="checkbox" checked name="projects" value="projects_2"> Project-2(Html)
								<input type="checkbox" checked name="projects"  value="projects_3"> Project-3(Java)
									<input type="checkbox" checked name="projects"  value="projects_4"> Project-4(C++)
										<input type="checkbox" checked name="projects"  value="projects_5"> Project-5(Python)
					</div>
				</div>
				
					</div>
					<div class="col-6 text-end">
						<input type="submit" value="add" class="btn btn-success btn-lg ">
					</div>
				</div>
				</form>
			</div>
			<div class="card-footer text-center bg-dark text-white m-0"> CopyRight@2023</div>
		</div>



	</div>

</body>
</html>